
:root{ 
  color-scheme: light;
  --mainbg: #fff;
  --maincl: #14191f;
  --smallcolor: #d4d4d4af;
  --itembg: linear-gradient( #fff 15%, #21262d00 100% )

}

body{ 
  background: var(--mainbg);
  color: var(--maincl);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html{ 
  scroll-behavior: smooth;
}

* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* > a { 
  color: var(--smallcolor);
}

.preloaders { 
  position: relative;
  top:0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  overflow: hidden;
}

.preloaders img { 
  width: 3.5rem;
  pointer-events: none;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: imgs 1s ease-in-out 1;
}

@keyframes imgs {
  0% { 
    opacity: 0;
    top: 40%;
  }
}

.welcome { 
  pointer-events: none;
  position: absolute;
  bottom:10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: txts 1.5s ease-in-out 1;
}

.sign_ups { 
  display: flex;
  width: 100%;
  position: fixed;
  top:0;
  height: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  padding:80px;
  background: #000;
  user-select: none;
  -webkit-user-select: none;
}

.sign_ups input { 
  width: 100%;
  padding:10px;
  outline: none;
  padding-right: 35px;
}

.sign_ups img { 
  width: 3.5rem;
  text-align: center;
  pointer-events: none;
}

.side_part { 
  background-image: url('https://static.rfstat.com/renderforest/images/v2/icons/profile-tumb-1.png');
  width: 100%;
  height: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  flex: 1 1 20rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.nump { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1 1 20rem;
  padding:10px;
  background: var(--mainbg);
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid var(--smallcolor);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.nump form { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user_logos { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:10px;
}

.user_logos .h1 { 
  font-size: 40px;
  font-weight: bolder;
}

.nump form { 
  width: 100%;
  max-width: 400px;
}

.form_datas { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  flex-direction: column;
  width: 100%;
}

.form_datas .col { 
  width: 100%;
  position: relative;
}

.form_datas .col i { 
  cursor: pointer;
  position: absolute;
  top:15px;
  right: 15px;
  color: #bcc3cd;
}

.hov_txts { 
  position: absolute;
  z-index: 10000;
  background: var(--mainbg);
  border: 1px solid var(--smallcolor);
  padding:10px;
  top:50px;
  font-size: 15px;
  opacity: 0;
  transition: .3s ease-in-out;
  visibility: hidden;
  color: red;
}

#hover_tme:hover ~ .hov_txts { 
  visibility: visible;
  opacity: 1;
}

#user:focus ~ .hov_txts{ 
  visibility: visible;
  opacity: 1;
}

.sign_ups button{ 
  color: var(--maincl);
}

.hoveremail { 
  position: absolute;
  z-index: 10000;
  background: var(--mainbg);
  border: 1px solid var(--smallcolor);
  padding:10px;
  top:50px;
  font-size: 15px;
  opacity: 0;
  transition: .3s ease-in-out;
  visibility: hidden;
  color: red;
}

#email:focus ~ .hoveremail{ 
  visibility: visible;
  opacity: 1;
}

.hovpass { 
  position: absolute;
  z-index: 10000;
  background: var(--mainbg);
  border: 1px solid var(--smallcolor);
  padding:10px;
  top:50px;
  font-size: 15px;
  opacity: 0;
  transition: .3s ease-in-out;
  visibility: hidden;
  color: red;
}

#pass:focus ~ .hovpass{ 
  visibility: visible;
  opacity: 1;
}

.checking_information { 
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out;
  z-index: 500000000;
}

.checking_information.show_ers { 
  visibility: visible;
  opacity: 1;
}

.side_part .h1 { 
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
}


@keyframes txts {
  0% { 
    opacity: 0;
    bottom: 10%;
  }
}

.nav_o{ 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: sticky;
  top:0;
  z-index: 900000000;
  background: var(--mainbg);
  border-bottom: 1px solid var(--smallcolor);
}

.nav_main { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  gap:50px;
}

.nav_main a { 
  text-decoration: none;
  color: var(--maincl);
}

.nav_main a:hover{ 
  opacity: 0.8;
}

.nav_main img { 
  width: 2.5rem;
}

.nav_1 { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.nav_1 i { 
  font-size: 20px;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.logo_1 { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  font-weight: bolder;
}

.logo_1 .h1 { 
  font-weight: bolder;
}

.nav_m_1 { 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  gap:10px;
  width: 100%;
  padding:5px;
  max-width: 800px;
}

.navs_1 { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  position: relative;
  width: 10rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--smallcolor);
}

.navs_1 i { 
  font-size: 20px;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navs_1 span { 
  position: absolute;
  top:100px;
  background: transparent;
  padding:5px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  width: 100%;
  text-align: center;
  transition: .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.navs_1:hover span{ 
visibility: visible;
opacity: 1;
top: 60px;
}

.user_part_ { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
}

.part_l { 
  position: relative;
}

.part_l img { 
  border-radius: 50%;
  object-fit: cover;
}

.drop_d { 
  position: absolute;
  width: 150px;
  right: 0;
  background: var(--mainbg);
  top:80px;
  padding:10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap:10px;
  border-radius: 5px;
  border: 1px solid var(--smallcolor);
  transition: .5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.drop_d.dropdowns { 
  visibility: visible;
  opacity: 1;
  top:50px;
}

.part_up { 
  font-size: 25px;
  cursor: pointer;
}

.drop_d a { 
  width: 100%;
}

.actions_1 { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
  width: 100%;
  padding:5px;
}

.maindiv { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  z-index: 950000000000;
  background: var(--mainbg);
}

.img_first img { 
  object-position: 0 0 ;
}

@media screen and (max-width: 1000px) {
  .sign_ups { 
    padding:0;
  }
  .side_part { 
    border-radius: 0px;
  }

  .nump { 
    border-radius: 0px;
    align-items: flex-start;
  }

  .navs_1 { 
    width: 8rem;
  }
}

@media screen and (max-width: 800px) {
  .navs_1 { 
    width: 6rem;
  }

  .nav_m_1 { 
    max-width: 600px;
  }
}

@media screen and (max-width: 655px) {
  .nav_m_1 { 
    width: fit-content;
    max-width: 400px;
  }

  .navs_1 { 
    width: 4rem;
  }
}

@media screen and (max-width: 640px) {
  .side_part{ 
    height: 300px;
  }

  .sign_ups { 
    padding:0;
    overflow: auto;
  }

  .nump { 
    border: none;
  }
}

@media screen and (max-width: 620px) {

  .navs_1{ 
    border: none;
    width: fit-content;
  }

  .nav_1 i { 
    width: fit-content;
    display: none;
  }
  

  .nav_main{ 
    width: fit-content;
  }

  .nav_main{ 
    gap:10px;
    justify-content: space-between;
    width: 100%;
  }

  .nav_main img { 
    width: 2rem;
  }
  
  .part_up { 
    font-size: 20px;
    width: fit-content;
  }

  .navs_1 span { 
    display: none;
  }
}


@media screen and (max-width: 320px) {

  .navs_1{ 
    border: none;
    width: fit-content;
  }

  .nav_1 i { 
    width: fit-content;
    display: none;
    font-size: 16px;
  }
  

  .nav_main{ 
    width: fit-content;
  }

  .nav_main{ 
    gap:10px;
    justify-content: space-between;
    width: 100%;
  }

  .nav_main img { 
    width: 1.5rem;
  }
  
  .part_up { 
    font-size: 16px;
    width: fit-content;
    display: none;
  }

  .navs_1 span { 
    display: none;
  }

  .navs_1 i { 
    font-size: 16px;
  }
}

@media (prefers-reduced-motion: no-preference) {
 
}

@media (prefers-color-scheme: dark) {
  :root{ 
    color-scheme: dark;
    --mainbg: #050507;
    --maincl: #bcc3cd;
    --smallcolor: #9ba4b07e;
    --itembg: linear-gradient( #1c2026 15%, #21262d00 100% )
  }
}

